 {% extends 'base.html' %}
{% load static %}
    {% block info %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_3.jpg'%});">
      <div class="overlay"></div>
    </section>


    <section class="ftco-section">
      <div class="container">
        <div class="row g-lg-5">
            <div class="col-lg-4 sidebar pl-md-4 ">
            <div class="col-md-12">
              <div class="blog-entry d-flex justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="text">
                  <h3 class="heading mb-3">{{master_category}}</h3>
                  <ul class="categories me-md-4">
                    {% for son in son_category %}
                      <li ><a href="/{{master_category.slug}}/{{ son.slug }}" class="btn btn-primary">{{son.name}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="col-md-12">
                  <div class="blog-entry d-flex justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="text">
                      <h3 class="heading mb-3"> {{enterprise.name}}</h3>
                      <p>资质热线：{{enterprise.phone}}</p>
                      <p>地址：{{enterprise.address}}</p>

                    </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-lg-8">
            <h3><span class="ion ion-ios-arrow-round-forward me-2"><span class="text" style="padding-left: 10px">{{ title }}</span></span></h3>
            <div class="about-author d-flex p-4 bg-light rounded">
              <div class="desc">
                <h3>{{ current_article.title }}</h3>
                  <div class="meta">{{ current_article.pub_time }}</div>
                     <pre>{{ current_article.body }}</pre>
              </div>
            </div>
            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                  {% if previous_article_index == 0 and next_article_index > 0%}
                      <a href="/{{master_category.slug}}/{{ current_article.article_category__slug }}/{{ next_article_index }}" class="tag-cloud-link">
                          <span class="ion ion-ios-arrow-forward" >
                              <span style="margin-left: 5px">
                                  下一篇:{{ nex_article_title }}
                              </span>
                          </span>
                      </a>
                  {% elif  previous_article_index > 0 and next_article_index == 0 %}
                      <a href="/{{master_category.slug}}/{{ current_article.article_category__slug }}/{{ previous_article_index }}" class="tag-cloud-link">
                          <span class="ion ion-ios-arrow-back">
                              <span style="margin-left: 5px">
                                  上一篇:{{ previous_article_title }}
                              </span>
                          </span>
                      </a>
                  {% elif  previous_article_index > 0 and next_article_index > 0 %}
                      <a href="/{{master_category.slug}}/{{ current_article.article_category__slug }}/{{ previous_article_index }}" class="tag-cloud-link">
                          <span class="ion ion-ios-arrow-back">
                              <span style="margin-left: 5px">
                                  上一篇:{{ previous_article_title }}
                              </span>
                          </span>
                      </a>
                      <a href="/{{master_category.slug}}/{{ current_article.article_category__slug }}/{{ next_article_index }}" class="tag-cloud-link">
                          <span class="ion ion-ios-arrow-forward" >
                              <span style="margin-left: 5px">
                                  下一篇:{{ nex_article_title }}
                              </span>
                          </span>
                      </a>
                  {% endif %}
              </div>
            </div>

        </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section --> 

 {% endblock info %}