{% extends 'base.html' %}
{% block info %}

<section class="slider-hero">
    <div class="overlay"></div>
    <div class="hero-slider">
        {% for index_image in index_image_list %}
        <div class="item">
            <div class="work">
                <div class="img img2 d-flex align-items-center js-fullheight" style="background-image: url('/upload/{{ index_image.image_url }}');">
                    <div class="container-xl">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-7">
                                <div class="text text-center mt-lg-5">
                                    <h1 class="mb-4">{{ index_image.name }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>

<section class="ftco-section">
    <div class="container-xl">
        <div class="row g-lg-5">
            <div class="col-lg-6 order-lg-last heading-section d-flex align-items-center" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                <div class="mt-0 my-lg-5 py-5">
                    <h2 class="mb-4">关于豫泉</h2>
                    <p>{{ enterprise.describe }}</p>
                    <p class="mt-4"><a href="/about" class="btn btn-primary py-3 px-4">Learn More</a></p>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                <div class="row">

                    <div class="col-md-6 d-flex align-items-stretch services-wrap">
                        <div class="services">
                            <div class="icon"><span class="flaticon-research"></span></div>
                            <div class="text">
                                <h2>免费服务</h2>
                                <p class="mb-0">一次合作，终身提供免费咨询服务</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch services-wrap">
                        <div class="services ">
                            <div class="icon"><span class="flaticon-recession"></span></div>
                            <div class="text">
                                <h2>费用低</h2>
                                <p class="mb-0">同等价格比服务，同等服务比价格</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch services-wrap">
                        <div class="services">
                            <div class="icon"><span class="flaticon-accountant"></span></div>
                            <div class="text">
                                <h2>专家团队</h2>
                                <p class="mb-0">专业的一对一服务团队，强大的政企人脉关系，资质快速办理成功</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch services-wrap">
                        <div class="services">
                            <div class="icon"><span class="flaticon-money"></span></div>
                            <div class="text">
                                <h2>过关率高</h2>
                                <p class="mb-0">资质办理1次即可成功，100%通过率。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 heading-section text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
                <span class="subheading">服务</span>
                <h2 class="mb-4">我们为您提供的专属服务</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for category in categorys %}
                {% if not category.parent_category %}
                    <div class="col-md-3 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                        <div class="flow-wrap flow-wrap-right">
                            <a href="/{{ category.slug }}" >
                                <div class="icon">
                                    <span class={{ category.icon }}></span>
                                </div>
                                <div class="text">
                                    <h2>{{ category.name }}</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>


<section class="ftco-section-counter img" style="background-image: url(../../static/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 heading-section heading-section-white text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
                <span class="subheading">SERVICES FLOW</span>
                <h2 class="mb-0">服务流程</h2>
            </div>
        </div>
        <div class="row section-counter">
            {% for service_flow in service_flow_list %}
            <div class="col-sm-6 col-md-6 col-lg-13 d-flex align-items-stretch">
                <div class="counter-wrap-2" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                    <h2 class="number"><span class="countup">{{ service_flow.id }}</span></h2>
                    <span class="caption" style="padding-top: 10px;">{{ service_flow.title }}</span>
                    <span class="caption" style="padding-top: 10px;">{{ service_flow.describe }}</span>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-lg-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
                <span class="subheading">与我们的智慧相遇</span>
                <h2 class="mb-5">客户评价</h2>
            </div>
        </div>
        <div class="row">
            {% for customer in customer_list %}
            <div class="col-md-6 col-lg-3" data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url('upload/{{ customer.photo_url }}');"></div>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-2">{{ customer.title }}</h3>
                        <div class="faded">
                            <p>{{ customer.comment }} </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-light">
    <div class="container-xl">
        <div class="row justify-content-center pb-4">
            <div class="col-lg-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
                <span class="subheading">Testimonial</span>
                <h2 class="mb-5">成功案例</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="carousel-testimony">
                    {% for cases in cases_list %}
                        <div class="item">
                            <div class="testimony-wrap" >
                                <a href="/{{ cases.case_category_id__parent_category__slug }}/{{ cases.case_category__slug }}/{{ cases.id }}">
                                    <img src="upload/{{ cases.image  }}" width="250"  style="display: block;margin:0 auto;">
                                    <div class="d-flex align-items-center">
                                      <div class="text"  style="display: block;margin:0 auto;">
                                         {{ cases.name }}
                                      </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section testimony-section bg-light">
    <div class="container-xl">
        <div class="row mb-5 justify-content-between">
            {% for xwzx_son in xwzx_son_list %}
                <div class="col-md-6 col-lg">
                <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2"><a class="navbar-brand" href="/xwzx/{{ xwzx_son.slug }}"><small>{{ xwzx_son.name }}</small></a></h2>
                  {% for xwzx_son_article_key, xwzx_son_article_value in xwzx_son_article.items %}
                      {% if xwzx_son_article_key == xwzx_son.slug %}
                          {% for xwzx_son_article in xwzx_son_article_value %}
                            <div class="block-21 mb-4 d-flex">
                                <div class="text">
                                  <div class="meta">
                                    <div><a href="#"><span class="fa fa-calendar"></span> {{ xwzx_son_article.pub_time }}</a></div>
                                  </div>
                                  <h3 class="heading"><a href="/xwzx/{{ xwzx_son.slug }}/{{ xwzx_son_article.id }}">{{ xwzx_son_article.title }}</a></h3>
                                </div>
                              </div>
                          {% endfor %}
                      {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock info %}
