{% extends 'base.html' %}
{% block info %}
  <section class="hero-wrap hero-wrap-2" style="background-image: url('../../static/images/bg_3.jpg');">
    <div class="overlay"></div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
          <span class="subheading">Our Pricing</span>
          <h2 class="mb-3">Find Plan that is Right for You</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
          <div class="block-7 active">
            <div class="text-center">
              <span class="excerpt d-block">Free</span>
              <span class="price"><sup>$</sup> <span class="number">50</span> <sub>/mos</sub></span>

              <ul class="pricing-text mb-3">
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Live Chat Support</li>
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Minimum of 10 users</li>
                <li class=""><span class="fa ion-ios-arrow-round-forward me-2"></span>Easily Track Payments</li>
                <li class=""><span class="fa ion-ios-arrow-round-forward me-2"></span>Web Conference Support</li>
                <li class=""><span class="fa ion-ios-arrow-round-forward me-2"></span>Group Management of users</li>
                <li class=""><span class="fa ion-ios-arrow-round-forward me-2"></span>Remote Monitory</li>
              </ul>

              <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
          <div class="block-7">
            <div class="text-center">
              <span class="excerpt d-block">Basic Plan</span>
              <span class="price"><sup>$</sup> <span class="number">79</span> <sub>/mos</sub></span>

              <ul class="pricing-text mb-3">
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Live Chat Support</li>
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Minimum of 10 users</li>
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Easily Track Payments</li>
                <li class=""><span class="fa ion-ios-arrow-round-forward me-2"></span>Web Conference Support</li>
                <li class=""><span class="fa ion-ios-arrow-round-forward me-2"></span>Group Management of users</li>
                <li class=""><span class="fa ion-ios-arrow-round-forward me-2"></span>Remote Monitory</li>
              </ul>

              <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <div class="block-7">
            <div class="text-center">
              <span class="excerpt d-block">Professional</span>
              <span class="price"><sup>$</sup> <span class="number">89</span> <sub>/mos</sub></span>

              <ul class="pricing-text mb-3">
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Live Chat Support</li>
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Minimum of 10 users</li>
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Easily Track Payments</li>
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Web Conference Support</li>
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Group Management of users</li>
                <li class=""><span class="fa ion-ios-arrow-round-forward me-2"></span>Remote Monitory</li>
              </ul>

              <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
          <div class="block-7">
            <div class="text-center">
              <span class="excerpt d-block">Startup</span>
              <span class="price"><sup>$</sup> <span class="number">99</span> <sub>/mos</sub></span>

              <ul class="pricing-text mb-3">
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Live Chat Support</li>
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Minimum of 10 users</li>
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Easily Track Payments</li>
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Web Conference Support</li>
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Group Management of users</li>
                <li class="avail"><span class="fa ion-ios-arrow-round-forward me-2"></span>Remote Monitory</li>
              </ul>

              <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 {% endblock info %}