 {% extends 'base.html' %}
 {% block info %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('../../static/images/bg_3.jpg');">
      <div class="overlay"></div>
    </section>
    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 heading-section text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
            <span class="subheading">Services</span>
            <h2 class="mb-4">Our Exclusive Services We Offer For You</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-3 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <div class="flow-wrap flow-wrap-right">
              <div class="icon">
                <span class="flaticon-accounting"></span>
              </div>
              <div class="text">
                <h2>Financial Planning</h2>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <div class="flow-wrap">
              <div class="icon">
                <span class="flaticon-financial"></span>
              </div>
              <div class="text">
                <h2>Investments Management</h2>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <div class="flow-wrap">
              <div class="icon">
                <span class="flaticon-recession"></span>
              </div>
              <div class="text">
                <h2>Business Loan</h2>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <div class="flow-wrap">
              <div class="icon">
                <span class="flaticon-tax"></span>
              </div>
              <div class="text">
                <h2>Taxes Consulting</h2>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia.</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <div class="flow-wrap">
              <div class="icon">
                <span class="flaticon-insurance"></span>
              </div>
              <div class="text">
                <h2>Insurance Consulting</h2>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <div class="flow-wrap">
              <div class="icon">
                <span class="flaticon-retirement-plan"></span>
              </div>
              <div class="text">
                <h2>Retirement Planning</h2>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <div class="flow-wrap">
              <div class="icon">
                <span class="flaticon-risk"></span>
              </div>
              <div class="text">
                <h2>Risk Management</h2>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <div class="flow-wrap">
              <div class="icon">
                <span class="flaticon-technology"></span>
              </div>
              <div class="text">
                <h2>Technology Consulting</h2>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock info %}